openapi: 3.1.0
info:
  title: FUR QUM API
  version: 1.0.0
  description: Validiert Umgebungsvariablen und bietet Datei-Update-Logik.
servers:
  - url: https://api.system-by-fur.dev

paths:
  /env/validate:
    post:
      operationId: validateEnv
      summary: Validiert .env-Konfiguration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnvSchema'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
        "400":
          description: Fehlerhafte Eingabe

  /github/update-file:
    post:
      operationId: updateFile
      summary: Schreibt oder aktualisiert eine Datei in GitHub
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [owner, repo, path, message, content]
              properties:
                owner: { type: string }
                repo: { type: string }
                path: { type: string }
                message: { type: string }
                content: { type: string, description: base64-Inhalt }
                sha: { type: string }

      responses:
        "200":
          description: Datei geschrieben
        "401":
          description: Nicht autorisiert

components:
  schemas:
    EnvSchema:
      type: object
      required: [GITHUB_REPO, GITHUB_TOKEN]
      properties:
        GITHUB_REPO: { type: string }
        GITHUB_TOKEN: { type: string }
