{
  "openapi": "3.1.0",
  "info": {
    "title": "GitHub Branch Protection API",
    "version": "1.0.0",
    "description": "Liest Branchschutzregeln aus einem GitHub-Repository"
  },
  "servers": [
    {
      "url": "https://api.github.com"
    }
  ],
  "paths": {
    "/repos/{owner}/{repo}/branches/{branch}/protection": {
      "get": {
        "operationId": "getBranchProtection",
        "summary": "Liest Branchschutzregeln eines GitHub-Branches",
        "parameters": [
          {
            "name": "owner",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "repo",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "branch",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch Protection Settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "required_status_checks": { "type": "object" },
                    "enforce_admins": { "type": "object" },
                    "required_pull_request_reviews": { "type": "object" },
                    "restrictions": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
